ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  top: 0%;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration:wavy;
 
}

li a:hover {
  background-color: rgb(10, 17, 165);
  color:black;

}

.TopMenu > ul {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration:wavy;

}

.TopMenu:hover > ul
{
    /* On hover, display the next level's menu */
    position: relative;
    display: inline;
    background-color: rgb(127, 34, 34);
    color:black;
}

.DropDownInMenu {
   display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration:wavy;
  background-color: darkgreen;
}

.DropDownInMenu a:hover {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration:wavy;
  background-color: rgb(215, 2, 137);
}

